@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
font-family: Roboto, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header {
    padding: 32px;
    background-color:  #1f2937;
}
.logo {
    color: #e5e7eb;
}

.nav-links a {
    color: #e5e7eb;
    text-decoration: none;
    
}
ul{ 
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.links {
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
